/* styles.css */

html {
	width: 100%;
	height: 100%;
}

body {
	margin: 1rem;
	background-color: black;
	color: whitesmoke;
	font-size: 5rem;
	overflow: hidden;
	background-image: url(../img/forest.gif);
	background-repeat: no-repeat;
	background-position: center; 
	background-size: cover; 
}

.grid-container {
	display:grid;
	align-items: center;
	<!--
	display: grid;
	/* grid-template-columns: 1fr 1fr 1fr; */
	grid-template-columns: repeat(auto-fit, minmax(320px,1fr));
	gap: 2rem;
	margin: 10% 4rem 0 4rem; 
	-->
}
.oval {
	padding: 2rem 4 rem;
	font-size: 3rem;
	text-align: center;
}
.last {
	padding-bottom: 2rem;
	border-bottom: 2px solid rgb(220, 200, 100);
}
