/* styles.css */

html {
	width: 100%;
	height: 100%;
}

body {
	margin: 1rem;
	background-color: black;
	color: #F5F3E7;
	font-size: 5rem;
	font-family: "Dr Sugiyama", cursive;
	font-weight: 400;
	font-style: normal;
	overflow: hidden;
	background-image: url(../img/forest.gif);
	background-repeat: no-repeat;
	background-position: center; 
	background-size: cover; 
	
}

.accent {
  font-family: "Nova Cut", system-ui;
  font-weight: 400;
  font-style: normal;
}

.last {
	padding-bottom: 2rem;
	border-bottom: 2px solid rgb (220,200,180);
}

div {
	transition-property: transform;
	transition-duration: 3s;
}

.grid-container {
	display: grid;
	/* grid-template-columns: 1fr 1fr 1fr; */
	grid-template-columns: repeat(auto-fit, minmax(320px,1fr));
	gap: 2rem;
	margin: 10% 4rem 0 4rem; 
}

